@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

:root {
    /* dark shades of primary color*/
    --primary-1: hsl(205, 86%, 17%);
    --primary-2: hsl(205, 77%, 27%);
    --primary-3: hsl(205, 72%, 37%);
    --primary-4: hsl(205, 63%, 48%);
    /* primary/main color */
    --primary-5: hsl(205, 78%, 60%);
    /* lighter shades of primary color */
    --primary-6: hsl(205, 89%, 70%);
    --primary-7: hsl(205, 90%, 76%);
    --primary-8: hsl(205, 86%, 81%);
    --primary-9: hsl(205, 90%, 88%);
    --primary-10: hsl(205, 100%, 96%);
    /* darkest grey - used for headings */
    --grey-1: hsl(209, 61%, 16%);
    --grey-2: hsl(211, 39%, 23%);
    --grey-3: hsl(209, 34%, 30%);
    --grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --grey-5: hsl(210, 22%, 49%);
    --grey-6: hsl(209, 23%, 60%);
    --grey-7: hsl(211, 27%, 70%);
    --grey-8: hsl(210, 31%, 80%);
    --grey-9: hsl(212, 33%, 89%);
    --grey-10: hsl(210, 36%, 96%);
    --white: #fff;
    --red-dark: hsl(360, 67%, 44%);
    --red-light: hsl(360, 71%, 66%);
    --green-dark: hsl(125, 67%, 44%);
    --green-light: hsl(125, 71%, 66%);
    --black: #222;
    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
    --transition: all 0.2s linear;
    --fastTransition: all 0.1s linear;
    /* --spacing: 0.1rem;
    --radius: 0.25rem; */
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    /* --max-width: 1170px;
    --fixed-width: 620px; */
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff-secondary);
}

body{
    background-color: var(--grey-10);

}
h1, h2, h3, h4{
    text-transform: uppercase;
}
.nav{
    /* width: 90%; */
    background-color: var(--white);
    height: 70px;
    box-shadow: var(--dark-shadow);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-1);
}
.nav h1{
    margin: 0 auto;
}

main {
    width: 93%;
    margin: 0 auto;
}

.container{
    width: 90%;
    margin: 0 auto;
}

.cart-row{
    margin: 10px 0;
    display: flex;
    justify-content: space-around;

}

.cart{
    width: 23%;
    height: 500px;
    background-color: var(--white);
    box-shadow: var(--dark-shadow);
    border-radius: 5px;
}

.btn {
    font-family: var(--ff-primary);
    text-transform: uppercase;
    background: transparent;
    color: var(--black);
    letter-spacing: var(--spacing);
    display: inline-block;
    font-weight: 700;
    transition: var(--transition);
    border: 2px solid var(--black);
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    padding: 0.75rem 1.25rem;
  }
  .btn:hover {
    color: var(--white);
    background: var(--black);
  }

.cart-header{
    background-color: #fff;
    text-align: center;
    box-shadow: var(--dark-shadow);
    height: 70px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* Carta #1 Color Fleeper */
.color-fleeper {
    /* z-index: 90; */
    transition: var(--fastTransition);
    background-color: #f1f5f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 430px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.color-fleeper h2{
    font-size: 16px;
    margin: 10px 0;
}
/* Fin Carta #1 */
.counter {
    transition: var(--fastTransition);
    background-color: #f1f5f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 430px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.counter span{
    font-size: 50px;
    font-family: var(--ff-secondary);
}
/* Carta #2 Counter */

/* carta #3 Casa */
.objetsCasa{
    font-size: 15px;
}
.objetsCasa img{
    width: 100%;
    height: 200px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.infoCasas{
    width: 90%;
    margin: 0 auto;
    color: #222;
}
.infoCasas p{
    font-weight: 700;
}
.infoCasas span{
    font-weight: 400;
}
.titleCasa{
    margin: 10px 0;
    text-transform: uppercase;
    font-size: 22px;
}

.container-btn-casa{
    display: flex;
    justify-content: space-around;
    margin: 8px 0;
}
